*{
	list-style: none;
	text-decoration: none;
}
@font-face {
    font-family: 'opensansSem';
    src: url('opensansSem.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas';
    src: url('bebas.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	padding: 0;
	color: #2c3e50;
	overflow-x: hidden;
	overflow-y: scroll; 
}

#main{
	width: 100%;
	min-height: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fafafa;
}

#logo_text{
	font: 100px bebas;
    color: #000;
    transform: skewY(-3deg);
    margin: 100px 0;
    animation: logo_anim 4s infinite ease-in-out;
    cursor: pointer;
    transition: .1s;
    user-select: none;
	webkit-user-select: none;
}
@keyframes logo_anim{
	0%{
		transform: skewY(-3deg) translateY(-10px);
	}
	50%{
		transform: skewY(-2deg) translateY(10px);
	}
	100%{
		transform: skewY(-3deg) translateY(-10px);
	}
}
#logo_logo{
	display: none;
	width: 134px;
	cursor: pointer;
	margin: 100px 0;
	animation: logo_anim 4s infinite ease-in-out;
	transition: .1s;
	user-select: none;
	webkit-user-select: none;
}
#logo_logo:active, #logo_text:active{
	opacity: 0;
}
#menu{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 25px bebas;
    color: #3d3d3d;
        background: #fafafa;
}
.menus{
	margin-right: 50px;
	cursor: pointer;
	transition: .2s;
	opacity: .7;
	border-bottom: 2px solid rgba(0,0,0,0);
	padding: 5px;
}
.menus:last-child{
	margin-right: 0;
}
.menus:hover{
	opacity: 1;
	border-bottom: 2px solid;
}

#change{
	display: flex;
    align-items: center;
	flex-direction: column;
}
#info{
	margin-top: 50px;
    text-align: center;
    align-content: center;
    font: 16px lato;
    color: #3b3b3b;
    padding: 0 20px;
}



#people{
	max-width: 700px;
    display: flex;
    justify-content: center;
   	margin: 50px 0;
   	margin-bottom: 100px;
    flex-wrap: wrap;
}
.pep{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 15px 20px;
	transition: .5s;
}
.pep img{
	width: 120px;
	border-radius: 50%;
	cursor: pointer;
	transition: .3s;
}

.text_pep{
	margin-top: 10px;
    font: 20px bebas;
    color: #242424;
}
.pep img:active{
	transform: scale(3);
	cursor: none;
	box-shadow: 0 10px 70px -10px #000; 
}
#photo_block{
	display: none;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2px;
    max-width: 700px;
    margin: 50px auto;
    margin-bottom: 200px;
}
#photo_block img{
	height: 150px;
	margin: 2px;
	transition: .3s;
	cursor: pointer;
	user-select: none;
	webkit-user-select: none;
	border-radius: 5px;
}
#photo_block img:active{
	transform: scale(3);
	cursor: none;
	box-shadow: 0 10px 70px -10px #000; 
}

#video_block{
	margin-top: 20px;
    margin-bottom: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
}
#years{
	display: flex;
	flex-wrap: wrap;
}
.year{
	font: 20px bebas;
    padding: 7px 13px;
    cursor: pointer;
    opacity: .7;
    color: #242424;
    transition: .2s;
    border-radius: 30px;
    user-select: none;
	webkit-user-select: none;
}
.year:hover{
	opacity: 1;
}
#video_box{
	margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
}
@media (max-width: 1200px) {
  #photo_block img:active{
	transform: scale(2.2);
	cursor: default;
	}
}
@media (max-width: 800px) {
  #photo_block img:active{
	transform: scale(1);
	cursor: default;
	height: 400px;
	}
}

iframe{
	width: 330px;
    height: 180px;
    margin: 3px;
    border-radius: 10px;
}

#social{
margin-top: 15px;
}
.cos_main{
	font: 16px lato;
    color: #3b3b3b;
    padding: 10px 0;
    margin: 0 auto;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
}
.cos_main:hover{
	background: #eee;
}
.cos_main img, .soc img{
	width: 16px;
    height: 16px;
    margin-right: 5px;
    border-radius: 50%;
}
.soc{

	padding: 15px;
	display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
    border-radius: 50%;
}
.soc:hover img{
	transform: scale(2);
}
.soc img{
	margin-right: 0;
}


@keyframes goin {
	0%{
		transform: translateY(-20px);
		opacity: .3;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}